@charset "utf-8";

header {
	font-size: 400%;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #C5B358;
	font-family: playfair-display;
	font-style: normal;
	font-weight: 400;
	padding-right: 363px;
	text-align: center;
	padding-left: 346px;
}
body article img {
	padding-bottom: 12%;
}
staffpic  {
	text-align: center;

}
body {
	text-align: center;
	padding-top: 0px;
}
article {
	padding: 52px;
}
idk4 {

}
.table {
	padding-top: 0px;
	margin-right: 0px;
	text-align: center;
}
.ta {
	padding-top: 32px;
}
.abc {
	padding-top: 14px;
}
